---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import MailIcon from '../components/icons/Mail.astro';
---

<Layout 
	title="Luis Rodríguez | Backend Developer"
	description="I'm a developer with 4 years of experience from México."
>
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">

			<h1 class="text-white opacity-90 text-5xl font-bold flex justify-center flex-row gap-x-4 pb-4">
				Hey, I'm Luis Rodríguez
				<a 
					href="https://www.linkedin.com/in/luis-rodriguez-mateos/" 
					target="_blank" 
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>Available to work</Badge>
				</a>
			</h1>


			<h2 class="text-xl opacity-80 text-wrap"> 
				I'm a <span class="text-yellow-200/90"> developer with 4 years of experience </span> from México 🇲🇽.
				<span class="text-blue-300/75"> I've worked on frontend </span> projects using React, Vanilla JS, TypeScript.				 
				<span class="text-red-300/90">In the backend </span>I've used Node JS, Java, Laravel and F3.
				<span class="text-green-200/90">In mobile development</span> I've used React Native, as well <span class="text-purple-300/90">as databases</span> like MySQL, SQL Server, Oracle, and PostgreSQL. 
			</h2>


			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/luis-rodriguez-mateos/">
				  <LinkedInIcon class="size-4 md:size-6" />
				   LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/luisRodriguez21">
				  <GitHubIcon class="size-4 md:size-6" />
				   GitHub
				</SocialPill>
				<SocialPill href="luis.rodriguez.mateos21@gmail.com">
				  <MailIcon class="size-4 md:size-6" />
				  luis.rodriguez.mateos21@gmail.com
				</SocialPill>
			</nav>

		</section>		
	</main>
</Layout>