---

---

<div class="pt-6">
    <h1 class="text-2xl text-center pb-5 opacity-80">My skills</h1>

    <div class="flex gap-5 justify-center">
        <img src="../images/javascript.png" class="w-10 h-10" alt="js">
        <img src="../images/typescript.png" class="w-10 h-10" alt="ts">
        <img src="../images/python.png" class="w-10 h-10" alt="python">
        <img src="../images/react.png" class="w-10 h-10" alt="react">
        <img src="../images/next.png" class="w-10 h-10 bg-white" alt="next">
        <img src="../images/git.png" class="w-10 h-10" alt="git">
        <img src="../images/mongodb.png" class="w-10 h-10" alt="mongo">
        <img src="../images/postgresql.png" class="w-10 h-10" alt="postgresql">
    </div>
</div>